In [ ]:
!pip install html5lib
!pip install requests
!pip install bs4

In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
# from io import StringIO

In [5]:
url = "https://open.canada.ca/data/dataset/adad580f-76b0-4502-bd05-20c125de9116/resource/ff45366b-1c17-4862-8325-f6e7797c7c56/download/2a71-das-wage2023opendata-esdc-all-28nov2023-vf.csv"
filename = 'cdn-wages.csv'

In [ ]:
df = pd.read_csv(url)
df.head()

In [9]:
df.shape

(44376, 18)

In [10]:
df.dtypes
#object will have mixed types

NOC_CNP                             object
NOC_TITLE_ENG                       object
NOC_TITLE_FRA                       object
prov                                object
ER_Code_Code_RE                     object
ER_Name                             object
Nom_RE                              object
Low_Wage_Salaire_Minium            float64
Median_Wage_Salaire_Median         float64
High_Wage_Salaire_Maximal          float64
Average_Wage_Salaire_Moyen         float64
Data_Source_E                       object
Data_Source_F                       object
Reference_Period                    object
Revision_Date_Date_revision         object
Annual_Wage_Flag_Salaire_annuel      int64
Wage_Comment_E                      object
Wage_Comment_F                      object
dtype: object

In [ ]:
df.isnull().sum()

NOC_CNP                                0
NOC_TITLE_ENG                          0
NOC_TITLE_FRA                          0
prov                                 516
ER_Code_Code_RE                        0
ER_Name                                0
Nom_RE                                 0
Low_Wage_Salaire_Minium            24760
Median_Wage_Salaire_Median         23554
High_Wage_Salaire_Maximal          24754
Average_Wage_Salaire_Moyen         24739
Data_Source_E                      23554
Data_Source_F                      23554
Reference_Period                   23553
Revision_Date_Date_revision            0
Annual_Wage_Flag_Salaire_annuel        0
Wage_Comment_E                     43914
Wage_Comment_F                     43914
dtype: int64

In [13]:
df.duplicated().sum()

0

In [ ]:
df.describe()

In [27]:

# Convert values to numeric, replacing non-numeric values with NaN
df['Median_Wage_Salaire_Median'] = pd.to_numeric(df['Median_Wage_Salaire_Median'], errors='coerce')

# Identify units and convert to $/year or $/hr
df['Median_Wage_Salaire_Median'] = df['Median_Wage_Salaire_Median'].apply(lambda x: float(round(x * 2080)) if 0 < x < 1000 else float(x))

# Display the updated DataFrame
df.describe()

,Low_Wage_Salaire_Minium,Median_Wage_Salaire_Median,High_Wage_Salaire_Maximal,Average_Wage_Salaire_Moyen,Annual_Wage_Flag_Salaire_annuel
count,19616.000000,20822.000000,19622.000000,19637.000000,44376.000000
mean,699.287798,65159.416037,2275.081461,1762.380619,0.027335
std,9991.966362,26325.333242,27160.572867,14774.857474,0.163058
min,14.000000,29120.000000,14.650000,7.690000,0.000000
25%,16.550000,45760.000000,30.002500,23.170000,0.000000
50%,19.980000,60320.000000,41.935000,30.650000,0.000000
75%,25.000000,79996.800000,54.330000,40.050000,0.000000
max,395700.000000,432576.000000,878449.000000,401866.670000,1.000000

In [28]:
df.to_csv('cdn-wages.csv', index=True)